/*===============
    GLOBAL
  ===============*/
*{
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}
a{
    text-decoration: none;
}
/*===============
   TYPOGRAPHY 
  ===============*/
p{
    font-size: 1.25rem;
}
h2{
    font-family: 'Calistoga', cursive;
    font-size: 3rem;
}
span{
    font-weight: bold;
    font-size: 2rem;
}
.intro p,
.reflection h2,
.add-ons__sectionTitle,
.add-ons__BigItem .add-ons__title,
footer p{
    margin: 0px;
}
.vision , 
.reflection,
.add-ons__BigItem,
footer *{
    color: #fff;
}
.intro h1{
    font-family: 'Calistoga', cursive;
    font-size: 5rem;
    margin: 1rem;
}
.gradiente-title{
    background: rgb(18,94,207);
    background: linear-gradient(90deg, rgba(18,94,207,1) 0%, rgba(67,235,165,1) 82%); 
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
.resources h2{
    margin-bottom: 0;
}
.add-ons__sectionTitle{
    margin: 0 13%;
    font-size: 2.5rem;
}
.add-ons__title{
    font-weight: bold;
}
.add-ons__subtitle{
    font-size: 1rem;
}
.add-ons__BigItem .add-ons__title{
    font-size: 2rem;
}
.add-ons__BigItem .add-ons__subtitle{
    font-size: 1.1rem;
}
.strategies-list__item i{
    color: #f88f08;
    font-size: 5rem;
}
.strategies-list__item p{
    font-size: 1.5rem;
    font-weight: bold;
}
footer a p{
   font-size: 2rem;
}
footer a i{
    font-size: 3rem;
}
footer > p{
    font-weight: lighter;
}
/*===============
   LAYOUT
  ===============*/
.vision ,
.justification,
.reflection,
.strategies,
.resources{
    padding: 100px;
    position: relative;
    display: flex;
}
.justification > div,
.vision > div{
    flex-basis: 50%;
}
.add-ons .image-container{
    min-height: 50%;
    flex-basis: 50%;
}
.justification .image-container iframe,
.vision .image-container img,
.add-ons .image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content-container > div{
    padding-left: 25px;
    flex-basis: 50%;
}
.vision .content-container > div{
    border-left: solid 2px #fff;
}
.justification .content-container > div{
    border-left: solid 2px #000;
}
.nav-bar{
    background-color: #0005;
    border-bottom: #fff solid 1px;
    width: 100%;
    min-height: 4.5rem;
    padding: 1rem;
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 20;
}
.nav-bar img{
    width: 3.5rem;
    position: absolute;
    left: 1rem;
    top: 0;
    bottom: 0;
    margin: auto;
}
.nav-bar__links{
    display:flex;
    align-content: center;
}

.intro{
    padding-top: 100px;
    min-height: 500px;
    background: url("./img/guatemala-palm-oil-worker.webp") center top;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    z-index: 1;
}
.intro::after, 
.add-ons__BigItem::after{
    content: '';
    background-color: #0007;
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}
.intro-text{
    width: 65ch;
    margin: 15vh auto;
    padding: 2ch;
    position: relative;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
}
.vision > div,
.justification > div{
    padding: 25px;
}
.vision{
    background-color: #5198e9;
}
.justification{
    flex-direction: row-reverse;
}
.reflection{
    flex-direction: column;
    align-items: center;
    background-color: #000;
}
.reflection p{
    text-align: center;
}
.reflection p::after{
    display: block;
    content: '';
    height: 5px;
    width: 15ch;
    margin: 3ch auto 0 auto;
    background: rgb(18,94,207);
    background: linear-gradient(90deg, rgba(18,94,207,1) 0%, rgba(67,235,165,1) 82%); 
}
.strategies{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.strategies__title p{
    max-width: 65ch;
}
.strategies__title p:after{
    content: '';
    display: block;
    height: 5px;
    width: 15ch;
    margin: 50px auto;
    background-color: #000;
}
.strategies-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10ch;
    text-align: center;
}
.resources{
    flex-direction: column;
}
.add-ons{
    display: flex;
    width: 75%;
    min-height:500px;
    margin: 35px auto;
}
.add-ons__item , .add-ons__BigItem{
    margin: 1ch;
}
.add-ons__BigItem{
    flex-basis: 50%;
    padding: 3rem;
    background-image: url("./img/add-ons-Snipcode.webp");
    background-position: center center;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.add-ons__BigItem::after{
    transition: background-color 300ms ease-in-out;
}
.add-ons__BigItem:hover::after{
    background-color: #0009;
}

.add-ons__item{
    flex-basis: 25%;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #e6f4f1;
}
.add-ons__content{
    flex-basis: 50%;
    padding: 1ch;
}
.add-ons__item img{
    transition: opacity 300ms ease-in-out;
    opacity: 100%;
}
.add-ons__item:hover img{
    opacity: 80%;
}
footer {
    width: 100%;
    position: relative;
}
footer a{
    min-height: 150px;
    background-color: #004a91;
    display: block;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer > p{
    padding: 0.5em;
    width: 100%;
    background-color: #00178a;
    text-align: center;
}
/*===============
    COMPONENTS
  ===============*/
span{
    position: absolute;
    left: 0;
    top: 45px;
    padding: 0.5rem 3rem;
    background-color: #5198e9;
    color: #fff;
}
.vision span{
    background-color: #fff;
    color: #5198e9;
}
.nav-bar__links a{
    color: #fff;
    border-right: #fff solid 1px;
    padding: 0 2ch;
    font-size: 1.25rem;
    position: relative;
    display: flex;
    align-items: center;
    transition: color 300ms ease-in-out;
}
.nav-bar__links a::after{
    content: '';
    background-color: transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 300ms ease-in-out;
}
.nav-bar__links a:hover,
.nav-bar__links a:focus{
    color: #000;
}
.nav-bar__links a:hover::after,
.nav-bar__links a:focus::after{
    background-color: #fff;
    transform: scaleX(1);
}
.nav-bar__links a:first-of-type{
    border-left: #fff solid 1px;
}
.resources a:hover{
    border-bottom: solid 1px;
}
.icon-button{
    display: inline-block;
    position: absolute;
    bottom: 1em;
    left: 1em;
    color: #fff;
    background-color: #5198e9;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 15px;
}
.icon-button i{
    position: relative;
    left: 0;
    transition: left 300ms ease;
}
.icon-button:hover i,
.icon-button:focus i{
    left: 1ch;
}